#container{
    background-color:rgb(41, 38, 216) ;
    height: 100%;
    width: 100%;

}
#main{
    font-size: 120px;
    padding-left: 250px;
    padding-top: 100px;
    color: lime;
}
#here{
    font-size: 90px;
    padding-left: 450px;
    padding-top: 100px;
    color: lime;


}
h1{
    padding-top: 150px;
}
#para{
    color: lime;
    font-size: 20px;
    padding-left: 850px;
}
#b1{
    margin-top: 100px;
    margin-left: 650px;
    
    height: 40px;
    width: 150px;
    background-color: lime;
    border-radius: 10px;
}
#b1 a{
    color: rgb(41, 38, 216) ;
    font-size: 1.5em;
    text-decoration: none;
    
}
#b1:hover{
    background-color: white;
}
@media (max-width:412px){
    #main{   font-size: 50px;
        padding-left: 50px;
        padding-top: 80px;
        color: lime;
}
    #here{
        font-size: 25px;
        padding-left: 100px;
        padding-top: 100px;
        color: lime;
    }
       #para{
            color: lime;
            font-size: 20px;
            padding-left: 120px;
            padding-top: 20px;}

            #b1{
                margin-top:50px;
                margin-left: 150px;
                
                height: 40px;
                width: 150px;
                background-color: lime;
                border-radius: 10px;
            }
            #b1 a{
                color: rgb(41, 38, 216) ;
                font-size: 1.5em;
                text-decoration: none;
                
            }
            #b1:hover{
                background-color: white;
            }
}
}
